Repository artkrsk/release-deploy-edd: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.php": [
    "vendor/bin/phpcbf --standard=.phpstan/phpcs.xml",
    "vendor/bin/phpcs --standard=.phpstan/phpcs.xml"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

add main branch protection to pre-commit hook
  .husky/pre-commit
Due: none

update readme.txt FAQ section
  src/wordpress-plugin/readme.txt
Due: none

chore: update WordPress 6.9 compatibility (v1.0.1)
  composer.json
  package.json
Due: prettier --write

build: update plugin headers and readme for v1.0.1
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml

fix: use composer for PHP tools in pre-push hook
  scripts/pre-push-hook.sh
Due: none

fix: convert __build__ from tracked files to proper submodule
  __build__/.gitignore
  __build__/.prettierignore
  __build__/.prettierrc
  __build__/package.json
  __build__/pnpm-lock.yaml
  __build__/src/config/index.js
  __build__/src/config/loader.js
  __build__/src/core/builder.js
  __build__/src/index.js
  __build__/src/logger/error-handler.js
  __build__/src/logger/index.js
  __build__/src/logger/logger.js
  __build__/src/utils/assets/javascript.js
  __build__/src/utils/assets/sass.js
  __build__/src/utils/assets/typescript-esbuild.js
  __build__/src/utils/assets/typescript-vite.js
  __build__/src/utils/assets/typescript.js
  __build__/src/utils/common/banner.js
  __build__/src/utils/common/live-reload.js
  __build__/src/utils/common/package.js
  __build__/src/utils/common/paths.js
  __build__/src/utils/common/version.js
  __build__/src/utils/filesystem/archive.js
  __build__/src/utils/filesystem/clean.js
  __build__/src/utils/filesystem/sync.js
  __build__/src/utils/wordpress/i18n.js
  __build__/src/utils/wordpress/plugin-meta.js
Due: prettier --write

release: 1.0.2 — WordPress 7.0 compatibility
  composer.json
  package.json
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write

ci: add pnpm allowBuilds allowlist for git-hosted deps
  pnpm-workspace.yaml
Due: prettier --write

ci: allow cypress build script in pnpm allowBuilds
  pnpm-workspace.yaml
Due: prettier --write

build: vendor __build__ tooling as tracked files instead of submodule
  .gitmodules
  __build__/.gitignore
  __build__/.prettierignore
  __build__/.prettierrc
  __build__/package.json
  __build__/pnpm-lock.yaml
  __build__/pnpm-workspace.yaml
  __build__/src/config/index.js
  __build__/src/config/loader.js
  __build__/src/core/builder.js
  __build__/src/index.js
  __build__/src/logger/error-handler.js
  __build__/src/logger/index.js
  __build__/src/logger/logger.js
  __build__/src/utils/assets/javascript.js
  __build__/src/utils/assets/sass.js
  __build__/src/utils/assets/typescript-esbuild.js
  __build__/src/utils/assets/typescript-vite.js
  __build__/src/utils/assets/typescript.js
  __build__/src/utils/common/banner.js
  __build__/src/utils/common/live-reload.js
  __build__/src/utils/common/package.js
  __build__/src/utils/common/paths.js
  __build__/src/utils/common/version.js
  __build__/src/utils/filesystem/archive.js
  __build__/src/utils/filesystem/clean.js
  __build__/src/utils/filesystem/sync.js
  __build__/src/utils/wordpress/i18n.js
  __build__/src/utils/wordpress/plugin-meta.js
Due: prettier --write

build: remove nested __build__/pnpm-workspace.yaml
  __build__/pnpm-workspace.yaml
Due: prettier --write

build: make __build__ a pnpm workspace package
  __build__/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix(browser): ship grb UMD + mount via Backbone wp.media
  composer.lock
  release.config.js
  src/php/Base/ServicesContainer.php
  src/php/Managers/Frontend.php
  src/php/Plugin.php
  src/ts/admin-init-core.ts
  src/ts/media/edd-media-browser.ts
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix

chore: align toolchain + release CI with Pro
  .github/workflows/release.yml
  .husky/pre-commit
  release.config.js
  scripts/pre-push-hook.sh
  scripts/validate-build.sh
  tsconfig.json
  tsconfig.typecheck.json
Due: prettier --write

test: add vitest unit suite for admin-init-core + edd-media-browser
  package.json
  pnpm-lock.yaml
  scripts/pre-push-hook.sh
  scripts/setup-git-hooks.sh
  tests/ts/admin-init-core.test.ts
  tests/ts/media/edd-media-browser.test.ts
  tests/ts/setup.ts
  vitest.config.js
Due: prettier --write, eslint --fix

test: run unit suite in the active .husky/pre-commit (match Pro)
  .husky/pre-commit
Due: none

chore(release): 1.0.3
  .npmrc
  package.json
  pnpm-workspace.yaml
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write

chore: remove dead devDeps and config
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  tsconfig.cypress.json
Due: prettier --write

docs: correct CLAUDE.md drift to match package-based architecture
  CLAUDE.md
  __build__/src/core/builder.js
  src/php/Managers/Settings.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write

chore: bump to v1.0.4 for WordPress 7.1 compatibility
  composer.json
  package.json
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write

fix: satisfy biome ci — the gate my local runs never actually exercised
  src/ts/media/edd-media-browser.ts
  tests/ts/admin-init-core.test.ts
  tests/ts/media/edd-media-browser.test.ts
  tests/ts/setup.ts
Due: prettier --write, eslint --fix

chore: never automerge a React major
  renovate.json
Due: prettier --write

build: resolve arts/easy-digital-downloads-stubs from Packagist (^3.7)
  composer.json
  composer.lock
Due: prettier --write

chore: update documentation and clean up comments across multiple files
  CLAUDE.md
  src/php/Managers/Downloads.php
  src/php/Managers/Frontend.php
  src/php/Plugin.php
  src/ts/admin-init-core.ts
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write, eslint --fix

chore: temporarily resolve arts/github-release-browser via VCS instead of Packagist
  composer.json
  composer.lock
Due: prettier --write

feat: edd_release_deploy_asset_file, capability config, plugins_loaded conflict check, developers.md
  CLAUDE.md
  docs/developers.md
  src/php/Managers/Downloads.php
  src/php/Plugin.php
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write

Release 1.1.0
  CHANGELOG.md
  composer.json
  package.json
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml, prettier --write

fix: pre-existing CI findings — vulnerable transitive dep, unsanitized-input false flag, unprefixed globals, readme casing
  composer.lock
  src/php/Managers/Settings.php
  src/wordpress-plugin/readme.txt
  src/wordpress-plugin/release-deploy-edd.php
Due: vendor/bin/phpcbf --standard=.phpstan/phpcs.xml, vendor/bin/phpcs --standard=.phpstan/phpcs.xml

chore: revert temporary VCS resolution for arts/github-release-browser
  composer.json
  composer.lock
Due: prettier --write

fix: style the upgrade CTA's subtitle and unlock paragraphs
  composer.lock
  src/styles/core/components/_upgrade-pro.scss
Due: none

chore(deps): bump wp-plugin-tooling
  pnpm-lock.yaml
Due: prettier --write
